<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 作用：mybatis对xml方式的sql语句，自动匹配，比如Bean中字段名是sonName,数据库中的名字可以是son_name，查询出来以后可以自动匹配到bean中-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>